.fill-page {
    height: 100vh;
}

.fill-container {
    height: 100%;
}

.split-layout {
    display: flex;
    flex-direction: column;
}

.section {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.lowered-element {
    margin-bottom: -20%;
}

.raised-element {
    margin-top: -20%;
}

.bar-complement {
    flex: 1;
}

.bar-element {
    background-color: #e0e0e0;
    /*overflow-y: auto;*/
}

.centered-element {
    text-align: center;
}

.bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Media query for stacking the links when space is limited */
@media (max-width: 768px) {
    .bar {
        flex-direction: column;
        align-items: center;
    }
}
